/*Declare CSS colour variables */
:root {
    --nintendo-switch-red: #e60012;
    --nintendo-switch-blue: #00c3e3;
    --nintendo-switch-grey: #414538;
}

/*Set standard properties to make everything else a little easier*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.background-container {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    z-index: -1;
}

.left,
.right {
    width: 50vw;
    height: 100vh;
}

.left {
    background-color: var(--nintendo-switch-red);
}

.right {
    background-color: var(--nintendo-switch-blue);
}

h1 {
    font-size: 5em;
    width: 100%;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: white;
}

h1 span {
    font-weight: 100;
}

button {
    color: white;
    font-weight: bold;
    width: 10vw;
    height: 5vh;
    background-color: var(--nintendo-switch-grey);
    border: 2px solid #000;
    border-top-width: 5px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2.5%;
}

.info-screen {
    display: flex;
    background-color: #646464;
    width: 80vw;
    height: 80vh;
    border: solid var(--nintendo-switch-grey);
    border-width: 3vw 5vh 3vw 5vh;
    border-radius: 5px;
    overflow: auto;
}

.info-screen-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

a {
    width: 10vw;
    height: 5vh;
    background-color: var(--nintendo-switch-grey);
    color: white;
    border: 2px solid #000;
    border-top-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2.5%;
}

a:nth-child(2) {
    background-color: var(--nintendo-switch-blue);
    border: 2px solid #000;
    border-top-width: 5px;
}

a:nth-child(3) {
    background-color: var(--nintendo-switch-red);
    border: 2px solid #000;
    border-top-width: 5px;
}

a:hover {
    transform: scale(1.2);
}

a:active {
    transform: scale(0.9);
}

/* script.js function styles */
.pane {
    display: none;
}

.pane.active {
    display: flex;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

table td {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    word-break: normal;
    border-color: white
}

table th {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    word-break: normal;
    border-color: white;
}

.starter-cell {
    background-color: #9698ed;
}

.blank-cell {
    background-color: #fd696494;
}

.detail {
    text-align: left;
    vertical-align: top
}

.product-detail {
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}


/* Image Slideshow */


button.slideshowBtn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

button.lastImage {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

button.nextImage {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}