.container {
    max-width: 50%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 3%;
    color: #333;
}

.nav .active a {
    color: crimson;
    border-bottom: 1px solid crimson;
}

.nav .active a:hover {
    border-color: transparent;
    background-color: crimson;
    color: #fff;
}

.pane {
    display: none;
}

.pane.active {
    display: block;
}